body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 98vh;
    background: rgba(0, 100, 0, 0.6);
    height: calc(100vh - 5em);
    position: relative;
}
