.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 100, 0, 0.7);
    padding: 0.5rem;
    width: 95%;
}

.upper{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.author{
    display: flex;
    flex-direction: column;
}

.fullName{
    font-weight: bold;
    text-decoration: none;
    color: darkblue;    
}

.time{
    font-style: italic;
}

.avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.postImg{
    width: 80%;
    height: 16rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 3px solid rgba(0, 100, 0, 0.7);
    margin-bottom: 1rem;
    cursor: pointer;
}

.lower{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    align-items: center;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.likeBtn,
.commentBtn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.likeIcon{
    color: blue;
}

.commentIcon{
    color: green;
}

.details{
    display: flex;
    justify-content: space-between;
}

.viewLikesBtn,
.viewCommentsBtn{
    cursor: pointer;
    font-weight: bold;
}

/* Custom (phones, 345px and down) */
@media only screen and (max-width: 252px) {
    .actions{
        gap: 3.5rem;
    }
    .postImg{
        width: 50%;
        height: 5rem;
        border: none;
    }
}

/* Custom (phones, 345px and down) */
@media only screen and (max-width: 345px) {
    .actions{
        gap: 5rem;
    }
    .postImg{
        width: 80%;
        height: 9rem;
    }
}

/* Custom (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    .postImg{
        width: 100%;
        height: 12rem;
    }
}

@media only screen and (min-width: 1200px) {
    .postImg{
        height: 22rem;
        width: 100%;
    }
}