.container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    width: 95%;
    background-color: transparent;
    border-bottom: 1px solid #415171;
    border-radius: 0.1rem;
}

.heading{
    color: #13274F;
    font-weight: bolder;
    font-size: large;
}

.text{
    outline: none;
    resize: none;
    border-color: #415171;
    border-radius: 0.5rem;
    background-color: transparent;
    width: 90%;
    height: 3rem;
    font-size: medium;
    margin-bottom: 1rem;
}

.btn {
    border: none;
    border-radius: 0.35rem;
    color: white;
    background-color: #13274F;
    padding: 0.4rem;
    font-size: medium;
    cursor: pointer;
    margin-top: 1rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .text{
        width: 70%;
    }
}