@import url("../pageLayout.css");

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    color: #13274F;
    margin-bottom: 2rem;
}

